<template>
  <v-container fluid class="grey lighten-5">
    <v-row no-gutters>
      <v-col cols="12" sm="3">
        Attendant
        <v-combobox filled outlined solo dense></v-combobox>
      </v-col>
      <v-col cols="12" sm="6"> </v-col>

      <v-col cols="12" sm="3">
        Date
        <v-menu
          v-model="fromDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              label="From"
              prepend-icon="event"
              readonly
              :value="fromDateDisp"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            locale="en-in"
            v-model="fromDateVal"
            no-title
            @input="fromDateMenu = false"
            :min="minDate"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <v-spacer />

    <v-card class="pa-2 elevation-2">
      <div class="text-h5">Items</div>
      <v-data-table :headers="entries_headers" :items="entries" dense>
         
        <template v-slot:item.du_id="{ item }">
          <v-select v-model="item.du_id" dense :items="items" label="Solo field" solo></v-select>
        </template>
        <template v-slot:item.open_reading="{ item }">
          <v-text-field dense
           v-model="item.open_reading"
            label="Open Reading"
            placeholder="Open Reading"
            solo
          ></v-text-field>
        </template>
        <template v-slot:item.close_reading="{ item }">
          <v-text-field dense
          v-model="item.close_reading"
            label="Close Reading"
            placeholder="Close Reading"
            solo
          ></v-text-field>
        </template>
        <template v-slot:item.outflow="{ item }">
          <v-text-field v-model="item.outflow" dense label="Outflow" readonly placeholder="Outflow" solo></v-text-field>
        </template>
        <template v-slot:item.testing="{ item }">
          <v-text-field dense v-model="item.testing"  label="Testing" placeholder="Testing" solo></v-text-field>
        </template>
        <template v-slot:item.sale="{ item }">
          <v-text-field dense v-model="item.sale" label="Sale" readonly placeholder="Sale" solo></v-text-field>
        </template>         
        <template v-slot:item.rate="{ item }">
          <v-text-field dense v-model="item.rate" label="Rate" placeholder="Rate" solo></v-text-field>
        </template>
        <template v-slot:item.value="{ item }">
          <v-text-field dense v-model="item.value" label="Value" readonly placeholder="Value" solo></v-text-field>
        </template>        
      </v-data-table>
    </v-card>

    <br />
    <v-spacer />
   
    <v-row>
      <v-col cols="12" sm="6">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">CC Swipes</div>
          <v-data-table :headers="cc_swipes_headers" :items="cc_swipes" dense >
            <template v-slot:item.t_id="{ item }">
              <v-select dense v-model="item.t_id" :items="items" label="TID" solo></v-select>
            </template>
            <template v-slot:item.batch_no="{ item }">
              <v-text-field dense v-model="item.batch_no" label="Batch no" placeholder="Batch no" solo ></v-text-field>
            </template>
            <template v-slot:item.no_of_slips="{ item }">
              <v-text-field dense v-model="item.no_of_slips" label="No Of Slips" placeholder="No Of Slips" solo ></v-text-field>
            </template>
            <template v-slot:item.amount="{ item }">
              <v-text-field dense v-model="item.amount" label="Amount" placeholder="Amount" solo ></v-text-field>
            </template>        
          </v-data-table>
           </v-card>        
      </v-col>
      <v-col cols="12" sm="6">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">Debtors</div>
          <v-data-table :headers="debtors_headers" dense :items="debtors" dense >    
            <template v-slot:item.debtors="{ item }">
              <v-select dense v-model="item.debtors" :items="items" label="Debtors" solo></v-select>
            </template>
            <template v-slot:item.item="{ item }">
              <v-select dense v-model="item.item" :items="items" label="Item" solo></v-select>
            </template>            
            <template v-slot:item.qty="{ item }">
              <v-text-field dense v-model="item.qty" label="Qty" placeholder="Qty" solo ></v-text-field>
            </template>
            <template v-slot:item.rate="{ item }">
              <v-text-field dense v-model="item.rate" label="Rate" placeholder="Rate" solo ></v-text-field>
            </template>
            <template v-slot:item.value="{ item }">
              <v-text-field dense v-model="item.value" readonly label="Value" placeholder="Value" solo ></v-text-field>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
     
    <!-- <v-simple-table dense>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">DU ID</th>
            <th class="text-left">Opening Reading</th>
            <th class="text-left">Closing Reading</th>
            <th class="text-left">Outflow</th>
            <th class="text-left">Testing</th>
            <th class="text-left">Sale</th>
            <th class="text-left">Rate</th>
            <th class="text-left">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in desserts" :key="item.name">
            <td>{{ item.name }}</td>
            <td>
              <v-select :items="items" label="Solo field" solo></v-select>
            </td>
            <td>
              <v-text-field
                label="Solo"
                placeholder="Placeholder"
                solo
              ></v-text-field>
            </td>
            <td>
              <v-text-field
                label="Solo"
                placeholder="Placeholder"
                solo
              ></v-text-field>
            </td>
            <td>{{ item.name }}</td>
            <td>
              <v-text-field
                label="Solo"
                placeholder="Placeholder"
                solo
              ></v-text-field>
            </td>
            <td>{{ item.calories }}</td>
            <td>
              <v-text-field
                label="Solo"
                placeholder="Placeholder"
                solo
              ></v-text-field>
            </td>
            <td>{{ item.calories }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table> -->

    <v-row>
      <v-col cols="12" sm="4">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">Denomination Break up</div>

          <v-data-table :headers="cash_breakup_headers" :items="cash_breakup" dense>

           
            <template v-slot:item.note="{ item }">
              <v-text-field  dense v-model="item.note" readonly label="Note" placeholder="Note" solo ></v-text-field>
            </template>
            <template v-slot:item.number="{ item }">
              <v-text-field dense v-model="item.number" label="Number" placeholder="Number" solo ></v-text-field>
            </template>
            <template v-slot:item.value="{ item }">
              <v-text-field  v-model="item.value"  label="Value" placeholder="Value" solo ></v-text-field>
            </template>

          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">UPI Break up</div>

          <v-data-table :headers="upi_breakup_headers" :items="upi_breakup" dense>
            <template v-slot:item.vendor="{ item }">
              <v-select dense v-model="item.vendor" :items="items" label="Vendor" solo></v-select>
            </template>
            <template v-slot:item.amount="{ item }">
              <v-text-field dense v-model="item.amount" label="Amount" placeholder="Amount" solo ></v-text-field>
            </template>

          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">Office Petty</div>

          <v-data-table :headers="office_petty_headers" :items="office_petty" dense           >
            <template v-slot:item.voucher_no="{ item }">
              <v-text-field dense v-model="item.voucher_no" label="Voucher No" placeholder="Voucher No" solo ></v-text-field>
            </template>
            <template v-slot:item.amount="{ item }">
              <v-text-field dense v-model="item.amount" label="Amount" placeholder="Amount" solo ></v-text-field>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <v-row no-gutters>
      <v-col cols="12" sm="8">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">Cheque</div>

          <v-data-table
            :headers="cheque_headers"
            :items="cheque"
            class="elevation-1"
          >
            <template v-slot:item.cheque_no="{ item }">
              <v-text-field dense v-model="item.cheque_no" label="Cheque No" placeholder="Cheque No" solo ></v-text-field>
            </template>
            <template v-slot:item.bank="{ item }">
              <v-text-field dense v-model="item.bank" label="Bank" placeholder="Bank" solo ></v-text-field>
            </template>
            <template v-slot:item.recieved_from="{ item }">
              <v-text-field dense v-model="item.recieved_from" label="Recieved From" placeholder="Recieved From" solo ></v-text-field>
            </template>
            <template v-slot:item.amount="{ item }">
              <v-text-field dense v-model="item.amount" label="Amount" placeholder="Amount" solo ></v-text-field>
            </template>            

          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12" sm="4">
        <v-card class="pa-2" outlined tile>
          <div class="transition-swing text-h6">Total</div>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">#</th>
                  <th class="text-left">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in totals" :key="item.title">
                  <td>{{ item.title }}</td>
                  <td><v-text-field dense v-model="item.value" readonly label="Amount" placeholder="Amount" solo ></v-text-field></td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
      </v-col>
    </v-row>

    <!-- <v-row no-gutters>
      <v-col v-for="n in 3" :key="n" cols="12" sm="4">
        <v-card class="pa-2" outlined tile> One of three columns </v-card>
      </v-col>
    </v-row> -->
  </v-container>
</template>

<script>
export default {
  components: {},
  data: () => ({
    fromDateMenu: false,
    fromDateVal: null,
    minDate: "2020-01-05",
    maxDate: "2019-08-30",
    items: ["Foo", "Bar", "Fizz", "Buzz"],
    entries_headers: [
      { text: "#",  value: "name" },
      { text: "DU ID", value: "du_id" },
      { text: "Open Reading", value: "open_reading" },
      { text: "Close Reading", value: "close_reading" },
      { text: "Outflow", value: "outflow" },
      { text: "Testing", value: "testing" },
      { text: "Sale", value: "sale" },
      { text: "Rate", value: "rate" },
      { text: "Value", value: "value" },
    ],
    entries: [
      {
        name: "PETROL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "CNG",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "DIESEL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "DIESEL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "CNG",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "PETROL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
    ],
    cc_swipes: [
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
    ],
    cc_swipes_headers: [
      { text: "TID", value: "t_id" },
      { text: "Batch No", value: "batch_no" },
      { text: "No Of Slips", value: "no_of_slips" },
      { text: "Amount", value: "amount" },
    ],
    debtors: [
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
    ],
    debtors_headers: [
      { text: "Debtors", value: "debtors" },
      { text: "Item", value: "item" },
      { text: "Qty", value: "qty" },
      { text: "Rate", value: "rate" },
      { text: "Value", value: "value" },
    ],
    cash_breakup: [
      { note: "2000", number: 0, value: 0 },
      { note: "500", number: 0, value: 0 },
      { note: "200", number: 0, value: 0 },
      { note: "100", number: 0, value: 0 },
      { note: "50", number: 0, value: 0 },
      { note: "20", number: 0, value: 0 },
      { note: "10", number: 0, value: 0 },
      { note: "5", number: 0, value: 0 },
      { note: "2", number: 0, value: 0 },
      { note: "1", number: 0, value: 0 },
    ],
    cash_breakup_headers: [
      { text: "Note", value: "note" },
      { text: "No", value: "number" },
      { text: "Value", value: "value" },
    ],
    upi_breakup: [
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
    ],
    upi_breakup_headers: [
      { text: "Vendor", value: "vendor" },
      { text: "Amount", value: "amount" },
    ],
    office_petty: [
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
    ],
    office_petty_headers: [
      { text: "Voucher No", value: "voucher_no" },
      { text: "Amount", value: "amount" },
    ],
    cheque: [
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
    ],
    cheque_headers: [
      { text: "Cheque No", value: "cheque_no" },
      { text: "Bank", value: "bank" },
      { text: "Recieved From", value: "recieved_from" },
      { text: "Amount", value: "amount" },
    ],
    totals: [
      { title: "Total Sale", value: 500 },
      { title: "Cash Sale", value: 500 },
      { title: "CC Swipes Sale", value: 500 },
      { title: "Debtors", value: 500 },
      { title: "UPI", value: 500 },
      { title: "NEFT/IMPS", value: 500 },
      { title: "Office", value: 500 },
      { title: "X-POWER", value: 500 },
      { title: "Staff Short", value: 500 },
    ],

    desserts: [
      {
        name: "Frozen Yogurt",
        calories: 159,
      },
      {
        name: "Ice cream sandwich",
        calories: 237,
      },
      {
        name: "Eclair",
        calories: 262,
      },
    ],
  }),
  computed: {
    fromDateDisp() {
      return this.fromDateVal;
      // format/do something with date
    },
  },
};
</script>
