<template>
  <v-container fluid class="grey lighten-5">

  <h1>{{$getMessage()}}</h1>
 
  </v-container>
</template>

<script>
export default {
  components: {},
  data: () => ({
    fromDateMenu: false,
    fromDateVal: null,
    minDate: "2020-01-05",
    maxDate: "2019-08-30",
    items: ["Foo", "Bar", "Fizz", "Buzz"],
    entries_headers: [
      { text: "#",  value: "name" },
      { text: "DU ID", value: "du_id" },
      { text: "Open Reading", value: "open_reading" },
      { text: "Close Reading", value: "close_reading" },
      { text: "Outflow", value: "outflow" },
      { text: "Testing", value: "testing" },
      { text: "Sale", value: "sale" },
      { text: "Rate", value: "rate" },
      { text: "Value", value: "value" },
    ],
    entries: [
      {
        name: "PETROL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "CNG",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "DIESEL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "DIESEL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "CNG",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
      {
        name: "PETROL",
        du_id: 1,
        open_reading: 1,
        close_reading: 1,
        outflow: 1,
        testing: 1,
        sale: 1,
        rate: 1,
        value: 1,
      },
    ],
    cc_swipes: [
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
      { t_id: "2000", batch_no: 0, no_of_slips: 0, amount: 0 },
    ],
    cc_swipes_headers: [
      { text: "TID", value: "t_id" },
      { text: "Batch No", value: "batch_no" },
      { text: "No Of Slips", value: "no_of_slips" },
      { text: "Amount", value: "amount" },
    ],
    debtors: [
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
      { debtors: "2000", item: 0, qty: 0, rate: 0, value: 50 },
    ],
    debtors_headers: [
      { text: "Debtors", value: "debtors" },
      { text: "Item", value: "item" },
      { text: "Qty", value: "qty" },
      { text: "Rate", value: "rate" },
      { text: "Value", value: "value" },
    ],
    cash_breakup: [
      { note: "2000", number: 0, value: 0 },
      { note: "500", number: 0, value: 0 },
      { note: "200", number: 0, value: 0 },
      { note: "100", number: 0, value: 0 },
      { note: "50", number: 0, value: 0 },
      { note: "20", number: 0, value: 0 },
      { note: "10", number: 0, value: 0 },
      { note: "5", number: 0, value: 0 },
      { note: "2", number: 0, value: 0 },
      { note: "1", number: 0, value: 0 },
    ],
    cash_breakup_headers: [
      { text: "Note", value: "note" },
      { text: "No", value: "number" },
      { text: "Value", value: "value" },
    ],
    upi_breakup: [
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
      { vendor: "2000", amount: 0 },
    ],
    upi_breakup_headers: [
      { text: "Vendor", value: "vendor" },
      { text: "Amount", value: "amount" },
    ],
    office_petty: [
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
      { voucher_no: "2000", amount: 0 },
    ],
    office_petty_headers: [
      { text: "Voucher No", value: "voucher_no" },
      { text: "Amount", value: "amount" },
    ],
    cheque: [
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
      { cheque_no: "2000", bank: 0, recieved_from: "2000", amount: 0 },
    ],
    cheque_headers: [
      { text: "Cheque No", value: "cheque_no" },
      { text: "Bank", value: "bank" },
      { text: "Recieved From", value: "recieved_from" },
      { text: "Amount", value: "amount" },
    ],
    totals: [
      { title: "Total Sale", value: 500 },
      { title: "Cash Sale", value: 500 },
      { title: "CC Swipes Sale", value: 500 },
      { title: "Debtors", value: 500 },
      { title: "UPI", value: 500 },
      { title: "NEFT/IMPS", value: 500 },
      { title: "Office", value: 500 },
      { title: "X-POWER", value: 500 },
      { title: "Staff Short", value: 500 },
    ],

    desserts: [
      {
        name: "Frozen Yogurt",
        calories: 159,
      },
      {
        name: "Ice cream sandwich",
        calories: 237,
      },
      {
        name: "Eclair",
        calories: 262,
      },
    ],
  }),
  computed: {
    fromDateDisp() {
      return this.fromDateVal;
      // format/do something with date
    },
  },
};
</script>
